// 文章标题样式
.page-header{
    display: block;
    clear: both;
    user-select: none;
    h1{
        a{
            color: #27ae60;
            cursor: pointer;
            &:hover{
                color: #337ab7;
            }
        }
    }
    .home{
        float: left;
        margin: 0 10px;
        cursor: pointer;
        color: #999;
        border-right: 1px solid #ccc;
        padding-right: 10px;
        &:hover{
            color: #27ae60;
        }
    }
    time{
        font-size: 14px;
        float: right;
        margin-right: 10px;
        cursor: default;
        background: #e6e5e5;
        color: #fff;
        height: 45px;
        width: 45px;
        border-radius: 25px;
        padding: 8px 4px;
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
    }
}
// 文章内容
.page{
    p{
        color: #333;
        font-size: 14px;
        margin: 2px 0;
    }
    del{
        color: #999;
    }
    h2{
        border-bottom: 1px solid #ccc;
        padding: 2px 0 5px 0;
    }
    h3{
        color: #444;
    }
    h4{
        color: #666;
    }
    &>table{
        margin: 4px 0;
        thead{
            user-select: none;
            background: #f1f9ff;
            cursor: default;
        }
        tr{
            &:hover{
                background: #f1f9ff;
            }
        }
        th,td{
            border: 1px solid #c6cede;
            border-collapse: collapse;
            padding: 7px;
            user-select: all;
        }
    }
    blockquote{
        background: #f5f9fd;
        margin: 2px;
        padding: 8px 10px;
        font-size: 14px;
    }
    // 代码高亮
    .highlight{
        margin: 2px;
        padding: 5px;
        border-radius: 0px;
        font-size: 14px;
        // 行数
        .gutter{
            user-select: none;
            cursor: default;
            pre{
                padding: 0;
                // margin: 0 5px;
            }
            .line{
                 color: #999;
                 text-align: right;
                 margin-right: 10px;
            }
        }
        .code{
            margin: 0;
            padding: 0;
            .line{
                font-size: 14px;
            }
        }
    }
    code{
        background: #fff8dc;
    }
    ul, ol{
        margin: 0;
        padding: 2px 0 2px 20px;
        li{
            margin: 4px 0 2px 0;
            color: #666;
            p{
                color: #666;
            }
        }
    }
    abbr[data-original-title], abbr[title] {
        color: #2f95ec;
        border-bottom: 1px dashed #2f95ec;  // 蚂蚁线
        text-decoration: none;
    }
}
// 底部页码
div.pagination{
    text-align: center;
    width: 100%;
    margin: 30px auto 60px auto;
    li{
        font-size: 16px;
        cursor: pointer;
        a{
            padding: 4px 8px;
        }
        .glyphicon{
            margin: 0 5px;
        }
    }
}
