// 文章标题样式
$header-title-color: #27ae60;  // 头部标题颜色:绿色

%selection {
    color: #fff;
    background: #38c574; // 文本选中背景
}

.page-header{
    display: block;
    clear: both;
    user-select: none;
    h1{
        max-height: 236px;
        overflow: hidden;
        a{
            color: $header-title-color;
            cursor: pointer;
            &:hover{
                color: #1a0dab;
                // color: #337ab7;
            }
        }
        .page-title{
            display: table-cell;
        }
        &>small{
            position: absolute;
            right: 0px;
            top: 37px;
            z-index: -99;
        }
    }
    .home{
        float: left;
        margin: 0 10px;
        cursor: pointer;
        color: #999;
        border-right: 1px solid #ccc;
        padding-right: 10px;
        &:hover{
            color: $header-title-color;
        }
    }
    time{
        font-size: 14px;
        float: right;
        margin-right: 10px;
        cursor: default;
        background: #e6e5e5;
        color: #fff;
        height: 45px;
        width: 45px;
        border-radius: 25px;
        padding: 8px 4px;
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
    }
}
// 文章内容
.page{
    h1{
        font-size: 32px;
        color: #333;
        text-decoration: #ddd underline double;
        text-decoration-skip: ink;
        padding: 3px 0;
        &:hover{
            color: $header-title-color;
            // text-decoration: $header-title-color underline double;
            a.headerlink:before{
                content: "¶";
                color: $header-title-color;
                text-decoration: #ddd underline double;
            }
        }
        a.headerlink{
            float: right;
        }
    }
    h2{
        border-bottom: 1px solid #ccc;
        padding: 2px 0 5px 0;
        color: #333;
        &:hover{
            color: $header-title-color;
            text-decoration: #ddd underline dashed;
            text-decoration-skip: ink;
            a{
                color: $header-title-color;
            }
            // a.headerlink:before{
            //     color: #ddd;
            //     content: "\1008";
            // }
            code{
                // background: #f5f9fd;
                color: $header-title-color;
            }
        }
        a.headerlink{
            margin-right: 5px;
            &:before{
                color: $header-title-color;
                content: "\1008";
                // content: "\2604";  // 羽毛球
                // content: "\2713";  // 打钩
                // content: "« ";
                // content: "»";
            }
        }
    }
    h3{
        color: #444;
        &:hover{
            color: #666;
            text-decoration: underline;
        }
    }
    h4, h5, h6{
        color: #666;
        &:hover{
            text-decoration: underline;
        }
    }
    p{
        color: #333;
        font-size: 14px;
        margin: 2px 0;
        word-break: break-word;
        word-wrap: break-word;
        // 选中
        &::selection {
            @extend %selection;
        }
    }
    &>p{
        text-indent: 2em;
    }
    p>img{
         margin: 3px 6px 3px -1em;
    }
    del{
        color: #999;
        cursor: not-allowed;
        text-decoration: line-through #c3c3c3;
        code{
            text-decoration: line-through #c7254e;
        }
    }
    &>table{
        margin: 4px 0;
        border-collapse:collapse;
        thead{
            user-select: none;
            background: #f1f9ff;
            cursor: default;
        }
        tr{
            &:hover{
                background: #f1f9ff;
            }
        }
        th,td{
            border: 1px solid #c6cede;
            border-collapse: collapse;
            padding: 7px;
            user-select: all;
        }
    }
    blockquote{
        background: #f5f9fd;
        margin: 4px 2px;
        padding: 8px 10px;
        font-size: 14px;
        border: 1px solid #eee;
        border-left: 5px solid #eee;
        p > img{
            margin-left: 1em;
        }
        p{
            // text-indent: 2em;
            color: #404040;
        }
    }
    pre > code{
        background: transparent;
        border: 0;
    }
    // 代码高亮
    .highlight{
        margin: 2px;
        padding: 5px;
        border-radius: 0px;
        font-size: 14px;
        // 行数
        .gutter{
            user-select: none;
            cursor: default;
            padding: 0 5px 0 5px;
            margin: 0;
            pre{
                padding: 0px;
                border-right: 1px solid #4e4e4e;
                border-radius: 0;
            }
            .line{
                 color: rgba(199, 37, 78, 0.6);
                 text-align: right;
                 margin-right: 5px;
            }
        }
        .code{
            margin: 0;
            padding: 0 !important;
            vertical-align: initial;
            border-spacing: 0px;
            .line{
                font-size: 14px;
            }
        }
    }
    img{
        box-shadow: 0px 0px 6px 0px #ccc;
        margin: 2px 6px;
        user-select: none;
        max-width: 100%;
        padding: 4px;
    }
    em{
        color: #921b39; //#908a80;
    }
    code{
        // background: #f5f9fd;
        // color: $header-title-color;
        background: #fff8dc;
        // color: #ef53d4;
        user-select: all;
        word-break: break-word;
        word-wrap: break-word;
    }
    ul, ol{
        margin: 0;
        padding: 2px 0 2px 20px;
        li{
            margin: 4px 0 2px 0;
            color: #666;
            &::selection {
                @extend %selection;
            }
            p{
                color: #666;
            }
        }
    }
    // 缩略语
    abbr[data-original-title], abbr[title] {
        color: #2f95ec;
        border-bottom: 1px dashed #2f95ec;  // 蚂蚁线
        text-decoration: none;
    }
    a{
        cursor: pointer;
    }
    menu{
        padding: 0;
        margin: 0;
        font-size: 24px;
        user-select: none;
        cursor: default;
        color: #333;
    }
    // 标签定义元素的细节
    details{
        color: #666;
        text-indent: 2em;
        summary{
            color: #333;
            text-indent: 0;
            margin: 0 0 5px 0;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
    }
    // ruby 注释
    ruby{
        rt{
            color: #999;
        }
    }
    // 图例
    figure{
        figcaption{
            color: #333;
            font-weight: 700;
        }
        p{
            text-indent: 2em;
            color: #666;
        }
    }
}
// 底部页码
div.pagination{
    text-align: center;
    width: 100%;
    margin: 30px auto 60px auto;
    li{
        font-size: 16px;
        cursor: pointer;
        a{
            padding: 4px 8px;
        }
        .glyphicon{
            margin: 0 5px;
        }
    }
}
// 目录树
#directory{
    position: fixed;
    right: -1px;
    top: 75px;
    background: rgba(240, 248, 255, 0.8);
    overflow: auto;
    z-index: 99;
    border: 1px solid rgba(39, 174, 96, 0.3);
    ul, ol{
         list-style: none;
         padding: 0px;
         margin-left: 15px;
         li{
             margin: 2px 0;
             max-width: 300px;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             cursor: pointer;
             a{
                 color: #27ae60;
             }
             &:hover{
                 & > a{
                     background: $header-title-color;
                     color: #fff;
                 }
             }
         }
    }
    & > a{
        float: right;
        color: #fff;
        background: #27ae60;
        padding: 2px;
        cursor: pointer;
    }
    & > ul,ol{
        margin: 30px 20px 20px 30px;
        // 二级目录
        & > li > ul > li > a{
            color: #2a882c;
        }
        // 三级及以上目录
        ul{
            li{
                a{
                    color: #86b59e;
                }
            }
        }
    }
}
@media (max-width: 767px){
    #directory{
        display: none;
    }
}
