// 主页
.site-header{
    background: #27ae60;
    width: 100%;
    nav.navbar{
        .container{
            .navbar-toggle{
                span{
                    background: #adb;
                }
            }
            @media (max-width: 767px){
                .navbar-collapse{
                    background: rgba(97, 255, 164, 0.5);
                    a{
                        color: #FFF;
                        font-size: 20px;
                    }
                }
            }
            // 右上角 导航栏
            ul.nav{
                a{
                    color: #d3fde5;
                    font-size: 1.1em;
                    font-weight: 700;
                    &:hover{
                        background-color: #eee;
                        color: #27ae60;
                    }
                }
            }
        }
    }
    .container{
        .row{
            text-align: center;
            color: #f4f4f4;
            user-select: none;
            cursor: default;
            // 标题 图片
            .homepage-logo{
                font-size: 5em;
                position: absolute;
                color: #079644;
                left: 47%;
            }
            // 标题
            h1{
                font-size: 3.8em;
                z-index: 99;
                position: inherit;
            }
            p{
                color: #f4f4f4;
                .package-amount{
                    color: #51ff9a;
                }
            }
            // 搜索框
            .search-wraper{
                margin: 0 auto;
                .form-group{
                    width: 90%;
                    margin: 15px auto 20px auto;
                }
                input{
                    border-radius: 0px;
                    height: 45px;
                    font-size: 20px;
                    border: 0;
                    box-shadow: none;
                }
            }
        }
    }
}
// 最新添加
.page-data{
    width: 100%;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
    .panel{
        border-bottom: 0;
        .panel-heading{
            cursor: default;
            .glyphicon{
                 margin-right: 5px;
                 color: #27ae60;
            }
            a{
                cursor: default;
                text-decoration: none;
                color: #000;
                &:hover{
                    color: #000;
                }
            }
        }
        .panel-body{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                user-select: none;
                li{
                    font-size: 18px;
                    display: block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    time{
                        padding: 0 2px;
                        cursor: default;
                        color: #545454;
                    }
                    a{
                        cursor: pointer;
                        color: #27ae60;
                        display: inline;
                    }
                    &:hover{
                        time{
                            background: #27ae60;
                            color: #fff;
                        }
                        a{
                            color: #1a0dab;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
#local-search-result{
    margin: 10px 10px 29px 10px;
    &>span{
        font-size: 20px;
        cursor: not-allowed;
        user-select: none;
        color: #f00;
    }
    ul.search-result-list{
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding: 5px;
            text-decoration: none;
            // margin: 0 10px 0 0;
            &:hover{
                background: #f0ffff;
                a{
                    text-decoration: underline;
                    /* font-weight: 700; */
                    background: #27ae60;
                    color: #fff;
                }
            }
            a{
                font-size: 18px;
                color: #1a0dab;
                cursor: pointer;
                font-family: arial,sans-serif;
                line-height: 1.2;
                text-align: left;
                padding: 1px 2px;
            }
            .search-result{
                line-height: 1.3;
                word-wrap: break-word;
                color: #545454;
                text-align: left;
                font-weight: normal;
                max-height: 56px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 2px 0 5px 0;
                padding: 0;
                cursor: default;
            }
            .search-keyword{
                color: #ff0000;
                font-weight: 600;
            }
        }
    }
}
